{% extends 'base.html' %}
{% load static %}
{% block content %}

    <head>
        <link href="{% static 'css/shopping_cart.css' %}" rel="stylesheet" type="text/css" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </head>
    <body>
        <h1 class="titleText">CART</h1>
        <hr>
        {% if request.user.is_authenticated %}
            <div class="container">
                {% for cartitem in cartitems %}

                <div class="row product">
                    <div class="col-sm-4">
                        <div class="colLeft"><img src="{{ cartitem.product.productimage_set.first.image }}" class="productImg" alt="nes console"></div>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-10"><h3 class="productName">{{cartitem.product.name}}</h3></div>
                            <div class="col-sm-2"><a href="{% url 'delete_cartitem' cartitem.id %}"><button class="deleteButton" type="submit">X</button></a></div>
                        </div>
                        <div class="row bottomCols">
                            <div class="col-sm-3"><span><h5 class="price">{{cartitem.product.price}}.-kr</h5></span></div>
                            <div class="col-sm-4">
                                <span>
                                    <label for="quantity1"><h5>Quantity:<b>{{cartitem.quantity}}</b></h5></label>
                                    <select id="quantity1">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                {% endfor %}
            
                {% if not cartitems %}
                    <h1>CART IS EMPTY</h1>
                {% else %}
            </div>
                <h3> Total: {{cartitems.first.cart.total}}
                <button type="button" class="btn btn-primary checkout">CHECKOUT</button>
            {% endif %} 
         {% else %}
              <h1> user is not logged in</h1>
          {% endif %}
       

    </body>
{% endblock %}