{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">

<script>
            {% if messages %}
                {% for message in messages %}
                    alert(message);
                {% endfor %}
            {% endif %}
        </script
<div class="container bottom-space col-md-4 col-md-offset-4" >
    <div style='margin-top:150px'></div>
    <div class="row">
        
        <h4 class="col-md-8 top-space">GENERAL INFORMATION</h4>
        
            <form method="post">
                {% csrf_token %}
                {{from.erros}}
                {% for field in form %}
                    {{field.label_tag}}
                    <div class="col-md-12 {% if forloop.first %}top-space{% endif %}">

                    {{ field }}
                    </div>
                    

                    {% if field.help_text %}

                            <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}

                    {% for error in field.errors %}

                        <p style="color: red">{{ error }}</p>

                    {% endfor %}

                    </p>

                {% endfor %}
                <button type="submit">Sign up</button>
            </form>


<!--
        <div class="col-md-12 top-space">
            <label>Full name</label>
            <input class="form-control" type="text" placeholder="FULL NAME">
        

        <div class="col-md-12">
            <label>Email address</label>
            <input class="form-control" type="text" placeholder="EMAIL ADDRESS">
        </div>

        <div class="col-md-12">
            <label>Username</label>
            <input class="form-control" type="text" placeholder="USERNAME">
        </div>

        <div class="col-md-12">
            <label for="formGroupExampleInput">Password</label>
            <input class="form-control" type="password" placeholder="PASSWORD">
        </div>

        <div class="col-md-12">
            <label for="formGroupExampleInput">Confirm Password</label>
            <input class="form-control" type="password" placeholder="CONFIRM PASSWORD">
            <label>Password</label>
            <input class="form-control" type="text" placeholder="PASSWORD">
        </div>

        <div class="col-md-12">
            <label>Verify Password</label>
            <input class="form-control" type="text" placeholder="VERIFY PASSWORD">
        </div>

        <div class="col-md-12">
            <label>Phone Number</label>
            <input class="form-control" type="text" placeholder="PHONE NUMBER">
        </div>

        <div class="col-md-12 form-check general">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            I want to receive exclusive offers and new product releases via email subscription.
        </div><br>
    </div>

    <div class="row">

        <h4 class="col-md-8 top-space">BILLING INFORMATION</h4>

        <div class="col-md-6 general">
            <select name="year">
                <option value="jan">CREDIT CARD</option>
                <option value="feb">DEBIT CARD</option>
            </select>
        </div>

        <div class="col-md-12">
            <label>Card holder name</label>
            <input class="form-control" type="text" placeholder="CARD HOLDER NAME">
        </div>
        <div class="col-md-8">
            <label>Credit card number</label>
            <input class="form-control" type="text" placeholder="CREDIT CARD NUMBER">
        </div>
        <div class="col-md-4">
            <label>CVV</label>
            <input class="form-control" type="text" placeholder="CVV">
        </div>
        <div class="col-md-8">
            <label>Expiration date</label>
            <input class="form-control" type="text" placeholder="EXPIRATION DATE">
        </div>
        <div class="col-md-4">
            <label>Year</label>
            <input class="form-control" type="text" placeholder="YEAR">
        </div>

        <h4 class="col-md-8 top-space">BILLING ADDRESS</h4>
        <div class="col-md-12">
            <label>Address</label>
            <input class="form-control" type="text" placeholder="ADDRESS">
        </div>
        <div class="col-md-12">
            <label>Apt/Suite</label>
            <input class="form-control" type="text" placeholder="APT/SUITE">
        </div>
        <div class="col-md-8">
            <label>City/Town</label>
            <input class="form-control" type="text" placeholder="CITY/TOWN">
        </div>
        <div class="col-md-4">
            <label>Zip</label>
            <input class="form-control" type="text" placeholder="ZIP">
        </div>

        <div class="col-md-8 bottom-space">
            <label>Country</label>
            <input class="form-control" type="text" placeholder="COUNTRY">
        </div>
-->
        </div>

        <div class="row">
        <a href="#" class="btn btn-primary col-md-4 col-md-offset-3 finish_button">FINISH</a>
        </div>


</div>

{% endblock %}