#accountdiv {
    justify-content: left;
    height: 75px;
    background-color:#6c757d;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-right: 10px;
}

.accounticon {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}

.accountimage {
    position: absolute;
    margin-left: -50px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#accountname {
    font-size: xx-large;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
}
  
.logout {
    font-size: medium;
    color: #000000;
    padding-top: 0px;
}


@media screen and (min-width: 992px) {
    #smallaccountdiv {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    #accountdiv {
        display: none;
    }

    #smallaccountdiv {
        height: 100px;
        width: 100px;
        background-color:#6c757d;
        border-radius: 10px;
    }

    .accounticon {
        width: 50px;
        height: 50px;
        text-align: center;
        float: none;
        margin-top: 20px;
        margin-left: 0px;
    }
    
    .img-with-text {
        margin:  5px auto;
        text-align: center;
        width: 50px;
    }

    .accountimage {
        position: absolute;
    }
}