#accountdiv {
    justify-content: left;
    height: 75px;
    background-color:#6c757d;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-right: 10px;
}

.accounticon {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}

.accountimage {
    position: absolute;
    margin-left: -50px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#accountname {
    font-size: xx-large;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
}
  
#logout {
    font-size: medium;
    color: #000000;
    padding-top: 0px;
}