

#checkout_billing, #checkout_review, #checkout_confirmation {
    display: none;
}

.nextButton {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menuBar {
    margin-bottom: 20px;
}

.shipping_margin {
    padding-top: 15px;
}



