
#consoles {
    background-color: #579DB8;
    display: flex;
    width: 1125px;
    padding: 10px 20px 10px 20px;
}

.products {
    display: flex;
    justify-content: space-between;
}

.price {
    background-color: #579DB8;
    margin: 10px 30px 10px 3px;
    padding: 10px 0px 10px 3px;
    border: black;
    text-align: center;
}

.console_name {
    text-align: center;
}

.image_consoles {
    width: 250px;
    height: 250px;

}
