
#title {
    background-color: #579DB8;
    display: flex;
    width: 1125px;
    padding: 10px 20px 10px 20px;
}

.featured {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.price {
    background-color: #579DB8;
    margin: 10px 30px 10px 3px;
    padding: 10px 0px 10px 3px;
    border: black;
    text-align: center;
}

.console_name {
    text-align: center;
}

.image_product {
    max-width: 250px;
    max-height: 250px;
    display: grid;
    margin: auto;
}

.item {
    color: black;
}

.productcontainer {
    width: 263px;
    height: 200px;
}