#logo {
  width: 120px;
}

#headercolor {
  background-color: #34404F;
}

::placeholder {
  color: #000000 !important;
  opacity: 1;
}

li profile {
  margin-top: 5%;
}

#search {
  background-color: #5e7684;
  font-family: 'Press Start 2P', cursive;
  font-size: large;
  height: 50px;
  width: 250px !important;
  padding-left: 20px;
  margin-left: 0px;
}

#submitbutton {
  height: 50px;
  width: 50px;
  justify-content: left;
  background-color: #5e7684 !important;
  background-image: url(https://static.thenounproject.com/png/644045-200.png);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position-x: center;
  background-position-y: center;
  margin-left: 5px;
}
.namesearch {
  font-family: 'Press Start 2P', cursive;
  font-size: xx-large;
  color: #ffffff;
  width: 350px;
}

.container {
  max-width: 1200px;
}


/* Cart */
#carticon {
  width: 50px;
}
#cartcontainer {
  background-color:#87ADB9;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
#cart {
  color: #000000;
}

/* Image with text below */
.img-with-text {
  margin:  5px auto;
  text-align: center;
  width: 50px;
}


@media screen and (min-width: 1201px) {
  .namesearch {
    margin-left: -100px;
  }

}

@media screen and (max-width: 1200px) and (min-width: 1001px) {
  .namesearch {
    margin-left: -30px;
  }

}


@media screen and (max-width: 1000px) {
  #companyname {
    font-size: medium;
  }

  #logo {
    width: 0px;
  }

  .namesearch {
    margin-left: -200px;
  }

  #cartcontainer {
    background-color:#87ADB9;
    border-radius: 10px;
    width: 100px;
    height: 100px;
  }
}