
#logo {
  position: absolute;
  z-index: 100;
  top: 0;
}

#headercolor {
  background-color: #34404F;
}

::placeholder {
  color: #000000 !important;
  opacity: 1;
}

li profile {
  margin-top: 5%;
}

#search {
  background-color: #5e7684;
  font-family: 'Press Start 2P', cursive;
  font-size: large;
  height: 50px;
  width: 250px !important;
  padding-left: 20px;
  margin-left: 0px;
  color: black;
}

#submitbutton {
  height: 50px;
  width: 50px;
  justify-content: left;
  background-color: #5e7684 !important;
  background-image: url(https://static.thenounproject.com/png/644045-200.png);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position-x: center;
  background-position-y: center;
  margin-left: 5px;
  border-color: #ced4da;
}
.namesearch {
  font-family: 'Press Start 2P', cursive;
  font-size: xx-large;
  color: #ffffff;
  width: 350px;
}

.container {
  max-width: 1200px;
}


/* Cart */
#carticon {
  width: 50px;
}

#cartcontainer {
  background-color:#87ADB9;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-left: 30px;
}

#cart {
  color: #000000;
}

#cartnumber {
  position: absolute;
  margin-top: 3px;
  padding: 10px 24px 7px;
}

.img-with-text {
  margin:  5px auto;
  text-align: center;
  width: 50px;
}


@media screen and (min-width: 1201px) {
  .namesearch {
    margin-left: -100px;
  }
  #logo {
    width: 140px;
    margin-top: 20px;
  }

}

@media screen and (max-width: 1200px) and (min-width: 1001px) {
  .namesearch {
    margin-left: -30px;
  }
  #logo {
    width: 80px;
    margin-top: 20px;
  }
}


@media screen and (max-width: 1000px) and (min-width: 801px) {
  #companyname {
    font-size: medium;
  }

  #logo {
    width: 0px;
  }

  .namesearch {
    margin-left: -200px;
  }

}

@media screen and (max-width: 800px) {
  #companyname {
    font-size: small;
  }

  #logo {
    width: 0px;
  }

  .namesearch {
    margin-left: 0px;
  }

}