.itemicon {
    max-width: 300px;
    max-height: 200px;
    margin-left: 8%;
    float: left;
}

.avatar-collection {
    float: left;
    width: 400px;
}

#desctext {
    font-size: medium;
    width: 80%;
    margin-left: 8%;
    margin-top: 50px;
}

.button {
    padding: 25px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    float: left;
    margin-right: 10px;
}

#price {
    background-color: #599DB6;
    margin-left: 8%;
}

#addtocart {
    background-color: #87B5C6;
    height: 75px;
    font-size: medium;
    margin-top: 0.5%;
    text-decoration: none;

}

#addtocart:hover {
    background-color: #5e7681;
}


.productimage {
    max-width: 50px;
    max-height: 50px;
}

.single-avatar {
    margin-top: 5px;
    max-width: 50px;
    max-height: 50px;
    margin-left: 400px;
}

.centered {
    margin: auto;
}

#itemtitle {
    margin-left: 8%;
}