.itemicon {
    width: 300px;
    max-height: 400px;
    margin: 2% 2% 2% 2%;
    float: left;
}

#itemtitle {
    padding-top: 2%;
}

#desctext {
    font-size: medium;
    width: 100%;
}

.button {
    padding: 25px;
    font-size: x-large;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    float: left;
    margin-right: 10px;
}

#price {
    background-color: #599DB6;
    margin-right: 1%;
    margin-left: 1%;
}

#addtocart {
    background-color: #87B5C6;
    height: 75px;
    font-size: medium;
    margin-top: 0.5%;
    text-decoration: none;
    color: white;
}

#addtocart:hover {
    background-color: #5e7681;
}

#cartdiv {
    margin: 0px auto;
}