.ddtext {
    font-size: large;
    color: #000000;
    /*padding-right: 3em;
    padding-left: 3em;*/
    padding-right: 3em;
    padding-left: 3em;
    font-family: 'Press Start 2P', cursive;
}

.bg-color {
    background-color: #227C9E !important;
}

.header-nav {
    width:100%;
    display:flex;
    justify-content: space-between;
}

.size {
    width: 100%;
    font-size: large !important;
}
