
#title {
    background-color: #579DB8;
    display: flex;
    width: 1125px;
    padding: 10px 20px 10px 20px;
}

.popular {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.item:hover {
    text-decoration: none;
    color: black;
}

.price {
    background-color: #579DB8;
    margin: 10px 10px 10px 3px;
    padding: 10px 0px 10px 3px;
    text-align: center;
    border: black;
    width: 250px;
    color: black;
}

.price:hover {
    background-color: #0a568a;
}

.product_name {
    text-align: center;
    color: black;
    padding: 10px 0;
    max-width: 250px;
    height: 60px;
}

.image_product {
    max-width: 250px;
    max-height: 200px;
    display: grid;
    margin: auto;
}

.productcontainer {
    height: 200px;
    width: 263px;
}