
.top-space {
    padding-top: 10px;
}

.bottom-space {
    padding-bottom: 15px;
}

.general {
    padding: 10px;
}

.finish_button {
    margin: auto;
    text-align: center;
    padding: 10px;
}

::placeholder {
    opacity: 0.5 !important;
}
