#logo {
  padding: 5px;
  width: 150px;
}

#carticon {
  width: 50px;
  
}

#cartcontainer {
  background-color:#87ADB9;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.img-with-text {
  margin:  5px auto;
  text-align: center;
  width: 50px;
}

.img-with-text img {
  display: block;
  text-align: center;
  margin: 0 auto;
}