{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/item.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

{% include 'menu.html' %}
    <h1 id="itemtitle">{{product.name}}</h1>
    <div class="centered">
        <img class="itemicon product-image" src="{{ product.productimage_set.first.image }}" alt="Profile">
        {% for image in product.productimage_set.all %}
        <div class="single-avatar">
            <img class="productimage" src="{{ image.image }}" alt="">
        </div>
        {% endfor %}    
        <p id="desctext">{{product.description}}</p>
    </div>
    <div>
        <p class="button " id="price">{{product.price}}.-kr</p>
        <a href="{% url 'add_to_cart' product.id %}" class="button" id="addtocart">Add to Cart</a>
    </div>
    {% if user.is_staff == True %}

        <a href="{% url 'delete_product' product.id %}" class="block btn btn-primary">Delete Product</a>
        <a href="{% url 'update_product' product.id %}" class="block btn btn-primary">Update Product</a>
    
    {% endif %}

<script>
    $('.single-avatar').click(function() {
        $('.single-avatar.active-avatar').removeClass('active-avatar')
        $(this).addClass('active-avatar')
        $('.product-image').attr('src', $(this).children().attr('src'))
    })
</script>
{% endblock content %}