{% extends "base.html" %}
{% block content %}

    <h1> {{product.name}} </h1>
    <p> {{product.description}} </p>
    <p> {{product.price}}.-kr </p>
    <p> {{product.category}} </p>
    <p> {{product.manufacturer}} </p>

    {% for product_image in product.productimage_set.all  %}
       <img class="product-img" src="{{ product_image.image }}" alt="">
    {% endfor %}
    <a href="{% url 'delete_product' product.id %}" class="block btn btn-primary">Delete Product</a>
    <a href="{% url 'update_product' product.id %}" class="block btn btn-primary">Update Product</a>
{% endblock content %}