{% load static %}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
</head>
<body>
    <div id="accountdiv">
        <img class="accounticon" src="{% static 'img/ProfileIcon.png' %}" alt="Profile">
        <a href="#" id="logintext">Log in</a>
        <a href="#" id="signuptext">Sign up</a>                 
    </div>
</body>
</html>