<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="accountloggedin.css">
</head>
<body>
    <a id="accountcontainer" href="#">
        <div id="accountdiv">
            <img class="accounticon" src="ProfileIcon.png" alt="Profile">
            <img class="accountimage" src="{% insert_user_image %}" alt="Profile">
            <p id="accountname">{% insert_user_name %}</p>   
            <p id="logout">Log out</p>                 
        </div>
    </a>
</body>
</html>