{% load static %}
<link href="{% static 'css/catalog.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/shopping_cart.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/popular_products.css' %}" rel="stylesheet" type="text/css">
<body>

    <h1 class="titleText">Catalog</h1>
    <hr>

    <div class="container col-md-10 col-md-offset-1">
        <div class="row">

            <div class="col-md-3">
                Category:
                <select name="category">
                    <option value="consoles">Consoles</option>
                    <option value="games">Games</option>
                    <option value="accessories">Accessories</option>
                </select>
            </div>

            <div class="col-md-3">
                Sort by:
                <select name="sort">
                    <option value="name">Name</option>
                    <option value="price">Price</option>
                </select>
            </div>

        </div>
        <hr>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous page</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next page</a>
                </li>
            </ul>
        </nav>

        <div class="products">

            <div>
                <a href=""><img class="image_product" src="../static/img/atari_console.jpg" alt="atari console"><h4 class="console_name">Atari 2600</h4></a>
                <h5 class="price">2.000 kr</h5>
            </div>

            <div>
                <a href=""><img class="image_product" src="../static/img/ps2_console.png" alt="ps2 console"><h4 class="console_name">PlayStation 2</h4></a>
                <h5 class="price">7.000 kr</h5>
            </div>

            <div>
                <a href=""><img class="image_product" src="../static/img/sega_console.png" alt="sega console"><h4 class="console_name">SEGA Mega Drive</h4></a>
                <h5 class="price">3.000 kr</h5>
            </div>

            <div>
                <a href=""><img class="image_product" src="../static/img/nes_console.png" alt="nes console"><h4 class="console_name">Nintendo NES console</h4></a>
                <h5 class="price">5.000 kr</h5>
            </div>

        </div>

    </div>

</body>
