<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="checkout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>

    <h1 class="titleText">CHECKOUT</h1>
    <h2 class="titleText">Shipping information</h2>
    <hr>

    <form class="form">
        <div class="form-check buttons">
            <input class="form-check-input" type="radio" name="radiosCheckout" id="shippingAddress" value="option1" checked>
            <label class="form-check-label" for="shippingAddress">
                <h4 class="mainInfo">Shipping address same as billing</h4>
                <!-- Dummy data for shipping address -->
                <div class="extraInfo">
                    Iceland<br>
                    101 Reykjavík<br>
                    Laugavegur 1
                </div>
            </label>
        </div>

        <div class="form-check buttons">
            <input class="form-check-input" type="radio" name="radiosCheckout" id="pickup" value="option2">
            <label class="form-check-label" for="pickup">
                <h4 class="mainInfo">Pickup order at Kringlan 1</h4>
                <p class="extraInfo">* weekdays between 10:00-19:00</p>
            </label>
        </div>

        <div class="form-check buttons">
            <input class="form-check-input" type="radio" name="radiosCheckout" id="newShippingAddress" value="option3">
            <label class="form-check-label" for="newShippingAddress">
                <h4 class="mainInfo">Add new shipping address</h4>
            </label>
        </div>

        <div class="form-check buttons">
            <input type="checkbox" class="form-check-input" id="delivery">
            <label class="form-check-label" for="delivery">
                <h4 class="mainInfo">Fast delivery</h4>
                <div class="extraInfo">
                    * 1-2 business days<br>
                    +500 kr
                </div>
            </label>
        </div>
    </form>

    <hr>
    <h2 class="titleText">Billing information</h2>
    

</body>
</html>