{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'css/order_summary.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/shopping_cart.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/checkout_final.css' %}" rel="stylesheet" type="text/css">
<body>

<div class="container bottom-space col-md-8 col-md-offset-2 menuBar" >
    <div class="row">
        <div class="btn-group btn-group-justified menuBar-buttons" role="group" aria-label="Basic example">
            <a href="#" class="btn btn-primary" id="general">General</a>
            <a href="#" class="btn btn-primary" id="billing">Billing</a>
            <a href="#" class="btn btn-primary" id="order">Order Review</a>
        </div>
    </div>
</div>
<form action="{% url 'order' %}" method="post">
    {% csrf_token %}
    <div class="container bottom-space col-md-8 col-md-offset-2" id="checkout_general" >
        <div class="row">

            <h4 class="col-md-8 top-space">GENERAL INFORMATION</h4>

            <div class="col-md-12 top-space">
                <label>Full name</label>
                <input name="full_name" class="form-control" type="text" placeholder="FULL NAME">
            </div>

            <div class="col-md-12">
                <label>Email address</label>
                <input name="email" class="form-control" type="text" placeholder="EMAIL ADDRESS">
            </div>

            <div class="col-md-12">
                <label>Phone Number</label>
                <input name="phone_number" class="form-control" type="text" placeholder="PHONE NUMBER">
            </div>

            <hr>

            <h4 class="col-md-8 top-space shipping_margin">SHIPPING ADDRESS</h4>
            <div class="col-md-12">
                <label>Address</label>
                <input name="address" class="form-control" type="text" placeholder="ADDRESS">
            </div>
            <div class="col-md-12">
                <label>Apt/Suite</label>
                <input name="apt" class="form-control" type="text" placeholder="APT/SUITE">
            </div>
            <div class="col-md-8">
                <label>City/Town</label>
                <input name="city" class="form-control" type="text" placeholder="CITY/TOWN">
            </div>
            <div class="col-md-4">
                <label>Zip</label>
                <input name="zip" class="form-control" type="text" placeholder="ZIP">
            </div>

            <div class="col-md-8 bottom-space">
                <label>Country</label><br>
                <select name="country">
                    <option value="iceland">ICELAND</option>
                    <option value="england">ENGLAND</option>
                    <option value="sweden">SWEDEN</option>
                    <option value="denmark">DENMARK</option>
                    <option value="norway">NORWAY</option>
                    <option value="russia">RUSSIA</option>
                    <option value="france">FRANCE</option>
                    <option value="usa">UNITED STATES</option>
                </select>
            </div>
            <a href="#" class="btn btn-primary col-md-6 col-md-offset-3 nextButton" id="toBilling">NEXT</a>

        </div>
    </div>

    <div class="container bottom-space col-md-8 col-md-offset-2" id="checkout_billing">
        <div class="row">
            <h4 class="col-md-12">BILLING INFORMATION</h4>
            <h5 class="col-md-12">CREDIT CARD</h5>

            <div class="col-md-12 box">
                <label>Card Holder Name</label>
                <input name="card_name" class="form-control" type="text" placeholder="FULL NAME">
            </div>

            <div class="col-md-8 box">
                <label>Credit Card Number</label>
                <input name="card_number" class="form-control" type="text" placeholder="XXXX-XXXX-XXXX-XXXX">
            </div>

            <div class="col-md-4 box">
                <label>CVC</label>
                <input name="card_cvc" class="form-control" type="text" placeholder="XXX">
            </div>

            <div class="col-md-12 box">
                <label>Expiration Date</label>
            </div>

            <div class="col-md-4 box">
                <label>Month</label>
                <select name="card_exp_month">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>

            <div class="col-md-4 box bottomBox">
                <label>Year</label>
                <select name="card_exp_year">
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                </select>
            </div>

            <a href="#" class="btn btn-primary col-md-6 col-md-offset-3 nextButton" id="toOrder">REVIEW ORDER</a>
        </div>

    </div>

    <div class="container bottom-space col-md-8 col-md-offset-2" id="checkout_review" >
        <div class="row">

            <h4 class="col-md-8 top-space">GENERAL INFORMATION</h4>

            <div class="col-md-12 top-space">
                <label>Full name</label>
                <input id="full-name-review" class="form-control" type="text" value="FULL NAME" disabled>
            </div>

            <div class="col-md-12">
                <label>Email address</label>
                <input id="email-review" class="form-control" type="text" value="EMAIL ADDRESS" disabled>
            </div>

            <div class="col-md-12">
                <label>Phone Number</label>
                <input id="phone-review" class="form-control" type="text" value="PHONE NUMBER" disabled>
            </div>


            <h4 class="col-md-8 top-space">SHIPPING ADDRESS</h4>
            <div class="col-md-12">
                <label>Address</label>
                <input id="address-review" class="form-control" type="text" value="ADDRESS" disabled>
            </div>
            <div class="col-md-12">
                <label>Apt/Suite</label>
                <input id="apt-review" class="form-control" type="text" value="APT/SUITE" disabled>
            </div>
            <div class="col-md-8">
                <label>City/Town</label>
                <input id="city-review" class="form-control" type="text" value="CITY/TOWN" disabled>
            </div>
            <div class="col-md-4">
                <label>Zip</label>
                <input id="zip-review" class="form-control" type="text" value="ZIP" disabled>
            </div>

            <div class="col-md-4">
                <label>Country</label>
                <input id="country-review" class="form-control" type="text" value="Country" disabled>
            </div>


        </div>
       <div class="row">
            <h4 class="col-md-12">BILLING INFORMATION</h4>
            <h5 class="col-md-12">CREDIT CARD</h5>

            <div class="col-md-12 box">
                <label>Card Holder Name</label>
                <input id="card-name-review" class="form-control" type="text" value="Jón Jónsson" disabled>
            </div>

            <div class="col-md-8 box">
                <label>Credit Card Number</label>
                <input id="card-number-review" class="form-control" type="text" value="XXXX-XXXX-XXXX-1234" disabled>
            </div>

            <div class="col-md-4 box">
                <label>CVC</label>
                <input id="card-cvc-review" class="form-control" type="text" value="XX1" disabled>
            </div>

            <div class="col-md-12 box">
                <label>Expiration Date</label>
            </div>

            <div class="col-md-4 box">
                <label>Month</label>
                <input id="card-month-review" class="form-control" type="text" value="7" disabled>
            </div>

            <div class="col-md-4 box">
                <label>Year</label>
                <input id="card-year-review" class="form-control" type="text" value="2022" disabled>
            </div>

        </div>
        <h4>Order Summary</h4>
        <hr>

            <div class="row product">
                {% for cart_item in cart_items %}
                    <div class="col-sm-4">
                        <div class="colLeft"><img src="{{ cart_item.product.productimage_set.first.image }}" class="productImg" alt=""></div>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-10"><h3 class="productName">{{ cart_item.product.name }}</h3></div>
                        </div>
                        <div class="row bottomCols">
                            <div class="col-sm-3"><span><h5 class="price">{{ cart_item.product.price }} kr</h5></span></div>
                            <div class="col-sm-4">
                                <span>
                                    Quantity:<p id="quantity">{{ cart_item.quantity }}</p>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <h4 class="subtotal">Subtotal</h4>
                </div>
                <div class="col-sm-6">
                    <h4 class="subtotalPrice">{{ cart.total }} kr</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="shipping">Shipping</h4>
                </div>
                <div class="col-sm-6">
                    <h4 class="shippingPrice">490 kr</h4>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-6">
                    <h4 class="total">Total</h4>
                </div>
                <div class="col-sm-6">
                    <h4 class="totalPrice">{{ cart.total|add:'+490' }} kr</h4>
                </div>
                <button type="submit" class="btn btn-primary col-md-6 col-md-offset-3 nextButton" id="toConfirmation">PLACE ORDER</button>

            </div>
    </div>
</form>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $('#general').click(function() {
        $('#checkout_billing').hide();
        $('#checkout_review').hide();
        $('#checkout_confirmation').hide();
        $('#checkout_general').show()
     });

    $('#billing').click(function() {
        $('#checkout_general').hide();
        $('#checkout_review').hide();
        $('#checkout_confirmation').hide();
        $('#checkout_billing').show()
     });

    $('#order').click(function() {
        $('#checkout_general').hide();
        $('#checkout_confirmation').hide();
        $('#checkout_billing').hide()
        $('#checkout_review').show();
     });


    $('#toBilling').click(function() {
        $('#checkout_general').hide();
        $('#checkout_review').hide();
        $('#checkout_confirmation').hide()
        $('#checkout_billing').show();
     });

    $('#toOrder').click(function() {
        $('#checkout_general').hide();
        $('#checkout_confirmation').hide();
        $('#checkout_billing').hide()
        $('#checkout_review').show();

        $('#full-name-review').val( $("input[name='full_name']").val() )
        $('#email-review').val( $("input[name='email']").val() )
        $('#phone-review').val( $("input[name='phone_number']").val() )
        $('#address-review').val( $("input[name='address']").val() )
        $('#apt-review').val( $("input[name='apt']").val() )
        $('#city-review').val( $("input[name='city']").val() )
        $('#zip-review').val( $("input[name='zip']").val() )
        $('#country-review').val( $("select[name='country']").val() )
        $('#card-name-review').val( $("input[name='card_name']").val() )
        $('#card-number-review').val( $("input[name='card_number']").val() )
        $('#card-cvc-review').val( $("input[name='card_cvc']").val() )
        $('#card-month-review').val( $("select[name='card_exp_month']").val() )
        $('#card-year-review').val( $("select[name='card_exp_year']").val() )

     });

</script>

</body>
{% endblock %}