{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container col-md-8 col-md-offset-2">

    <div class="row">
        <div class="col-md-10"><h2>EDIT PROFILE</h2></div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img src="{{ user.avatar_img }}" class="avatar img-circle img-thumbnail" alt="avatar">
                <input type="file" class="text-center center-block file-upload">
            </div>
        </div>

        <div class="col-md-8">
            <label for="first_name">First name</label>
            <input class="form-control" type="text" placeholder="FIRST NAME" value="{{ user.first_name }}">
        </div>

        <div class="col-md-8">
            <label for="last_name">Last name</label>
            <input class="form-control" type="text" placeholder="LAST NAME" value="{{ user.last_name }}">
        </div>

        <div class="col-md-8">
            <label>Email address</label>
            <input type="text" class="form-control" placeholder="EMAIL ADDRESS" value="{{ user.email }}">
        </div>

        <div class="col-md-8">
            <label>Phone Number</label>
            <input class="form-control" type="text" placeholder="PHONE NUMBER" value="{{ user.phone_number }}">
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <label>Username</label>
            <input  class="form-control" type="text" placeholder="USERNAME" value="{{ user.username }}">
        </div>

        <div class="col-md-6">
            <label>Password</label>
            <input  class="form-control" type="password" placeholder="PASSWORD" value="{{ user.password }}">
        </div>

        <div class="col-md-6">
            <label>Verify Password</label>
            <input  class="form-control" type="password" placeholder="VERIFY PASSWORD" value="{{ user.password }}">
        </div>

        <div class="col-md-6">
            <label>Date of Birth</label>
            <input class="form-control" type="date" value="{{ user.date_of_birth }}">
        </div>

        <div class="col-md-12">
        <br>
            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
            <button class="btn btn-lg">Cancel</button>
        </div>

    </div>

</div>
{% endblock %}