{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css" >
<div class="container profile-wrap">

    <div class="row">
        <div class="title text-center"><h2>EDIT PROFILE</h2></div>
    </div>
    <form action="{% url 'user:update_user' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img src="{{ user.avatar_img }}" class="avatar img-circle img-thumbnail" alt="avatar">
{#                <input type="file" class="text-center center-block file-upload">#}
            </div>

            <div class="avatar-collection-wrap">
                <div class="avatar-collection">
                    <div class="single-avatar">
                        <img src="https://api.adorable.io/avatars/200/abytt@adorable.png" alt="">
                    </div>
                    <div class="single-avatar">
                        <img src="https://api.adorable.io/avatars/200/bbytt@adorable.png" alt="">
                    </div>
                    <div class="single-avatar">
                        <img src="https://api.adorable.io/avatars/200/cbytt@adorable.png" alt="">
                    </div>
                    <div class="single-avatar">
                        <img src="https://api.adorable.io/avatars/200/dbytt@adorable.png" alt="">
                    </div>
                    <div class="single-avatar">
                        <img src="https://api.adorable.io/avatars/200/ebytt@adorable.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <label for="first_name">First name</label>
            <input class="form-control" name="first_name" type="text" placeholder="FIRST NAME" value="{{ user.first_name }}">

            <label>Email address</label>
            <input type="text" class="form-control" name="email" placeholder="EMAIL ADDRESS" value="{{ user.email }}">


            <label>Username</label>
            <input  class="form-control" type="text" name="username" placeholder="USERNAME" value="{{ user.username }}">

            </div>
        <div class="col-md-4">
            <label for="last_name">Last name</label>
            <input class="form-control" type="text" name="last_name" placeholder="LAST NAME" value="{{ user.last_name }}">

            <label>Phone Number</label>
            <input class="form-control" type="text" name="phone_number" placeholder="PHONE NUMBER" value="{{ user.phone_number }}">

            <input id="hidden-avatar" type="text" name="avatar_img" value="{{ user.avatar_img }}">
        </div>
    </div>

    <div class="row">
        <div class="buttons">
            <button class="btn btn-lg btn-success pagefiller" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
            <a href="/user/profile"><button class="btn btn-lg btn-danger" type="button">Cancel</button></a>
        </div>

    </div>
    </form>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('.single-avatar').click(function() {
        $('.single-avatar.active-avatar').removeClass('active-avatar')
        $(this).addClass('active-avatar')
        $('.avatar').attr('src', $(this).children().attr('src'))
        $('#hidden-avatar').val($(this).children().attr('src'))
    })
</script>
{% endblock %}