{% load static %}

    <link href="{% static 'css/consoles.css' %}" rel="stylesheet" type="text/css" >

    <h3 id="title">Featured products</h3>
    <div class="featured">
        {% for product in featured_products %}
            <a class="item" href="/product/{{ product.id }}">
                <div>
                    <img class="image_consoles" src="{{ product.productimage_set.first.image }}" alt="{{ product.name }}">
                    <h4 class="console_name">{{ product.name }}</h4>
                    <h5 class="price">{{ product.price }}</h5>
                </div>
            </a>
        {% endfor %}
    </div>
