{% load static %}
<link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css" >
<div id="footer">
    <div id="aboutUs">
        <h3>ABOUT US</h3>
        <p>Opening Hours</p>
                Mon-Fri: 10:00-19:00
                Sat: 10:00-16:00
                Sun: Closed
    </div>

    <div id="followUs">
        <h4>Follow us on social media!</h4>
        <a href="https://www.facebook.com/pages/Captain-of-the-console/109755990476407" target="_blank">
            <img id="facebook" src="{% static 'img/faceb_logo.png' %}" alt="facebook">
        </a>
        <a href="https://www.instagram.com/retro.game.bros/?hl=en" target="_blank">
            <img src="{% static 'img/insta_logo.png' %}" alt="instagram">
        </a>
        <a href="https://twitter.com/captainconsole" target="_blank">
            <img src="{% static 'img/twitter_logo.png' %}" alt="twitter">
        </a>
    </div>

    <div id="contact">
        <h3>CONTACT US</h3>
        <p>Captain Console ehf.<br>Tel: 5812345<br>Kringlan 1<br>103 Reykjavík<br>SSN: 123456-7890<br><a href="mailto:captain@console.com">captain@console.com</a></p>

    </div>
</div>
