{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light white scrolling-navbar topbar" id="headercolor">
<div class="container">

<!-- Logo -->
<div>
  <a href="/">
    <img id="logo" src="{% static 'img/CaptainConsole.png' %}" alt="Captain Console">
  </a>
</div>

<div class="namesearch">
  <p id="companyname">CAPTAIN CONSOLE</p>
  <form class="form-inline d-flex md-form form-sm mt-0">
  <input class="form-control form-control-sm ml-3 w-75" id="search" type="text" placeholder="Search.."
    aria-label="Search">
    <input class="btn btn-primary" id="submitbutton" type="submit" value="">
</form>
  
</div>

    <!-- Right -->
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item profile">
          {% if request.user.is_authenticated %}
              {% include 'accountloggedin.html' with user=user %}
          {% else %}
              {% include 'account.html'%}
          {% endif %}
      </li>
      <li class="nav-item">
        <a href ="{% url 'cart-index' %}" class="nav-link waves-effect" id="cartcontainer">
          <div class="img-with-text" id="cartimg">
            <img id="carticon" src="{% static 'img/cart.png' %}" alt="Cart">
            <p id="cart">Cart</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>