<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="header.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
<body>
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar topbar" id="headercolor">
    <div class="container">

    <!-- Logo -->
    <div>
      <a href="/">
        <img id="logo" src="CaptainConsole.png" alt="Captain Console">
      </a>
    </div>  

    <div class="namesearch">
      <p id="companyname">CAPTAIN CONSOLE</p>
      <input id="search" type="text" placeholder=" Search..">
    </div>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item profile">
            {% block content %}
            {% endblock %}
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" id="cartcontainer">
              <div class="img-with-text" id="cartimg">
                <img id="carticon" src="cart.png" alt="Cart">
                <p id="cart">Cart</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
  </nav>
</body>
</html>