{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Item</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/item.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div >
        <img class="itemicon" src="NES.jpg" alt="Profile">
        <h1 id="itemtitle">Nintendo Entertainment System</h1> 
        <div>  
        <h3 id="desctext">Includes a standard HDMI cable<br><br>
        Comes with one old school, grey colored NES Classic Controller and an AC adapter<br><br>
        Also compatible with Classic Controller and Classic Controller Pro. <br><br>
        Additional NES Classic Controllers will be sold separately</h3>                 
        <p class="button" id="price">5000kr</p>
        <p class="button" id="addtocart"><a>Add to Cart</a></p>
        </div>
    </div>
</body>
</html>