<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Item</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="item.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div >
        <img class="itemicon" src="{{ product.productimage_set.first.image }}" alt="Profile">

        <h1 id="itemtitle">{% product.name %}</h1> 
        <div>  
        <h3 id="desctext">{% product.description %}</h3>                 
        <p class="button" id="price">{% product.price %}</p>
        <p class="button" id="addtocart"><button type="button" class="btn btn-primary">Add to Cart</button></p>
        </div>
    </div>
</body>
</html>