{% load static %}
<link rel="stylesheet" href="{% static 'css/item.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<h1 id="itemtitle">{% product.name %}</h1> 


<div class="avatar-collection">
<img src="{{ product.productimage_set.first.image }}" class="avatar img-circle img-thumbnail itemicon" alt="Product">
    <div class="single-avatar">
        <img class="productimage" src="{{ product.productimage_set.second.image }}" alt="">
    </div>
    <div class="single-avatar">
        <img class="productimage" src="{{ product.productimage_set.second.image }}" alt="">
    </div>
    <div class="single-avatar">
        <img class="productimage" src="https://api.adorable.io/avatars/200/cbytt@adorable.png" alt="">
    </div>
    <div class="single-avatar">
        <img class="productimage" src="https://api.adorable.io/avatars/200/dbytt@adorable.png" alt="">
    </div>
    <div class="single-avatar">
        <img class="productimage" src="https://api.adorable.io/avatars/200/ebytt@adorable.png" alt="">
    </div>
</div>
<h3 id="desctext">{% product.description %}</h3>

<p class="button" id="price">{% product.price %}</p>
<p class="button" id="addtocart"><button type="button" class="btn btn-primary">Add to Cart</p>
