{% load static %}
<link href="{% static 'css/signup.css' %}" rel="stylesheet" type="text/css" >

<body>
    <div class="container col-md-8 col-md-offset-2">

        <div class="row">
            <div class="col-md-10"><h2>PROFILE</h2></div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                </div>
            </div>

            <div class="col-md-8">
                <label for="first_name">First name</label>
                <input class="form-control" type="text" value="Jón" disabled>
            </div>

            <div class="col-md-8">
                <label for="last_name">Last name</label>
                <input class="form-control" type="text" value="Jónsson" disabled>
            </div>

            <div class="col-md-8">
                <label>Email address</label>
                <input type="text" class="form-control" value="jonjonsson@gmail.com" disabled>
            </div>

            <div class="col-md-8">
                <label>Phone Number</label>
                <input class="form-control" type="text" value="+354-581-2345" disabled>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <label>Username</label>
                <input  class="form-control" type="text" value="jonni123" disabled>
            </div>

            <div class="col-md-6">
                <label>Date of Birth</label>
                <input  class="form-control" type="date" value="" disabled>

            </div>

            <div class="col-md-12">
            <br>
                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon"></i>Edit profile</button>
            </div>

        </div>

    </div>
</body>
