<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../static/css/signup_billing.css" rel="stylesheet" type="text/css" >
</head>
<body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container col-md-4 col-md-offset-4" >
<div class="btn-group btn-group-justified signup_menu" role="group" aria-label="Basic example">
    <a href="#" class="btn btn-primary">General</a>
    <a href="#" class="btn btn-primary">Billing</a>
    <a href="#" class="btn btn-primary">Finish</a>
</div>

<div class="row">

    <div class="col-md-6 payment">
        <select name="year">
            <option value="jan">CREDIT CARD</option>
            <option value="feb">DEBIT CARD</option>
        </select>
    </div>

    <div class="col-md-12">
        <label for="formGroupExampleInput">Card holder name</label>
        <input class="form-control" type="text" placeholder="CARD HOLDER NAME">
    </div>
    <div class="col-md-8">
        <label for="formGroupExampleInput">Credit card number</label>
        <input class="form-control" type="text" placeholder="CREDIT CARD NUMBER">
    </div>
    <div class="col-md-4">
        <label for="formGroupExampleInput">CVV</label>
        <input class="form-control" type="text" placeholder="CVV">
    </div>
    <div class="col-md-8">
        <label for="formGroupExampleInput">Expiration date</label>
        <input class="form-control" type="text" placeholder="EXPIRATION DATE">
    </div>
    <div class="col-md-4">
        <label for="formGroupExampleInput">Year</label>
        <input class="form-control" type="text" placeholder="YEAR">
    </div>

    <h4 class="col-md-8 billing_address">BILLING ADDRESS</h4>
    <div class="col-md-12">
        <label for="formGroupExampleInput">Address</label>
        <input class="form-control" type="text" placeholder="ADDRESS">
    </div>
    <div class="col-md-12">
        <label for="formGroupExampleInput">Apt/Suite</label>
        <input class="form-control" type="text" placeholder="APT/SUITE">
    </div>
    <div class="col-md-8">
        <label for="formGroupExampleInput">City/Town</label>
        <input class="form-control" type="text" placeholder="CITY/TOWN">
    </div>
    <div class="col-md-4">
        <label for="formGroupExampleInput">Zip</label>
        <input class="form-control" type="text" placeholder="ZIP">
    </div>

    <div class="col-md-8 country">
        <label for="formGroupExampleInput">Country</label>
        <input class="form-control" type="text" placeholder="COUNTRY">
    </div>
    <a href="#" class="btn btn-primary col-md-6 col-md-offset-3">FINISH</a></div>


</div>

</div>
</body>